<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calculatrice d'insuline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>Bolus</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Glucides (g)</ion-label>
          <ion-input [(ngModel)]="carbohydrates" (ngModelChange)="calcBolus()" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Coefficient</ion-label>
          <ion-input [(ngModel)]="coef" (ngModelChange)="calcBolus()" type="number"></ion-input>
          <ion-button id="meal-button">Repas</ion-button>
        </ion-item>
        <ion-text color="primary" *ngIf="bolus >= 0">
          <h1>{{ bolus | number: '1.0-1' }} unités</h1>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header color="success">
        <ion-card-title>Correction</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Indice de sensibilité</ion-label>
          <ion-input [(ngModel)]="sensitivityIndex" (ngModelChange)="calcCorrection()" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Glycémie (mg/dL)</ion-label>
          <ion-input [(ngModel)]="bloodSugar" (ngModelChange)="calcCorrection()" type="number" min="10"></ion-input>
        </ion-item>
        <ion-text color="success" *ngIf="correction >= 0">
          <h1>{{ correction | number: '1.0-1' }} unités</h1>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="total >= 0">
      <ion-card-header color="danger">
        <ion-card-title>Total</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text color="danger">
          <h1>{{ total | number: '1.0-1' }} unités</h1>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-popover trigger="meal-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list *ngIf="meals.length > 0">
        <ion-item button *ngFor="let meal of meals; let i = index" (click)="selectMeal(meal)">
          <ion-label>
            {{ meal.name }} ({{ meal.coef }})
          </ion-label>
        </ion-item>
        <ion-list-header>
          <ion-button (click)="openSettings()">Changer les repas</ion-button>
        </ion-list-header>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
