<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calculatrice d'insuline</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>Bolus</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Glucides (g)</ion-label>
          <ion-input
            [(ngModel)]="carbohydrates"
            (ngModelChange)="calcBolus()"
            type="number"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Coefficient</ion-label>
          <ion-input
            [(ngModel)]="coef"
            (ngModelChange)="calcBolus()"
            type="number"
          ></ion-input>
          <ion-button id="meal-button">Repas</ion-button>
        </ion-item>
      </ion-card-content>

      <ion-card-header color="primary" *ngIf="bolus >= 0">
        <ion-card-title
          >{{ bolus | number: '1.0-' + storage.insulinUnitsAccuracy }}
          unités</ion-card-title
        >
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header color="success">
        <ion-card-title>Correction</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Indice de sensibilité</ion-label>
          <ion-input
            [(ngModel)]="storage.sensitivityIndex"
            (ngModelChange)="calcCorrection()"
            type="number"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label
            >Glycémie
            <ng-container *ngIf="storage.bloodGlucoseUnits === 'mgdl'">
              (mg/dL)</ng-container
            >
            <ng-container *ngIf="storage.bloodGlucoseUnits === 'gl'">
              (g/L)</ng-container
            >
          </ion-label>
          <ion-input
            [(ngModel)]="bloodSugar"
            (ngModelChange)="calcCorrection()"
            type="number"
          ></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-card-header color="success" *ngIf="correction >= 0">
        <ion-card-title
          >{{ correction | number: '1.0-' + storage.insulinUnitsAccuracy }}
          unités</ion-card-title
        >
      </ion-card-header>
    </ion-card>

    <ion-card *ngIf="total >= 0">
      <ion-card-header color="danger">
        <ion-card-title>Total</ion-card-title>
        <ion-card-title
          >{{ total | number: '1.0-' + storage.insulinUnitsAccuracy }}
          unités</ion-card-title
        >
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-popover trigger="meal-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item
          button="true"
          detail="false"
          *ngFor="let meal of storage.meals; let i = index"
          (click)="selectMeal(meal)"
        >
          <ion-label> {{ meal.name }} ({{ meal.coef }})</ion-label>
        </ion-item>
        <ion-list-header>
          <ion-button (click)="openSettings()">Changer les repas</ion-button>
        </ion-list-header>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
